---
import { Image } from "astro:assets";
import ctaImage from '@assets/cta.jpeg'
---

<a href="mailto:operations@uplt20.com"
    class="rounded-2xl lg:py-16 flex flex-col items-center text-center">
   <Image src={ctaImage} class='object-cover rounded-xl' alt='cta'/>
    </a>
