---
// @ts-ignore
import {Image} from "astro:assets"
import heroImage from 'assets/hero.png'

const features = [
    {
        title: "Bring Your Own Framework",
        description:
        "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
        icon: "bx:bxs-briefcase",
    },
    {
        title: "100% Static HTML, No JS",
        description:
        "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
        icon: "bx:bxs-window-alt",
    },
    {
        title: "On-Demand Components",
        description:
        "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
        icon: "bx:bxs-data",
    },
    {
        title: "Broad Integration",
        description:
        "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
        icon: "bx:bxs-bot",
    },

];
---

<div
    class="bg-rangoon-green-50 p-8 md:px-20 md:py-10 mt-10 mx-auto max-w-6xl rounded-lg">

    <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-16 items-center">
        {
        features.map((item) => (
    <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <Image class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src={heroImage} alt={item.title}/>
        </a>
        ))
        }
    </div>
</div>
