---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import heroImage2 from "assets/hero-alt.png"
import heroImage3 from "assets/project.png"
import Carousel from "@components/ui/Carousel";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
    class="flex pt-16 pb-8 md:pt-12 md:pb-24">
    <div class="py-6 w-full hidden md:block">

        <Carousel
            client:load
            transition:persist
            id='banner-carousel'
            images={[heroImage, heroImage2, heroImage3]}
        />
        <!-- <Picture -->
        <!--     src={heroImage} -->
        <!--     alt="UPL in the air" -->
        <!--     widths={[200, 400, 600]} -->
        <!--     sizes="(max-width: 800px) 100vw, 620px" -->
        <!--     loading="eager" -->
        <!--     format="avif" -->
        <!-- /> -->
    </div>

</main>
